{% extends "layout.html" %} {% block content %} {% for postdata in post %}
<h1>{{ postdata.title }}</h1>
<p>By : {{ postdata.author }}</p>
<p>{{ postdata.content }}</p>
{% endfor %} {% endblock content %}
